/* The integration's default injected base.css file */
@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:is(.dark *));

@theme {
  --shadow-card1: 2px 2px #000000;
  --shadow-card: 4px 4px #000000;
  --shadow-hover: 10px 10px #000000;
  --shadow-pblue: 7px 7px #96c7f2;
  --shadow-pgreen: 7px 7px #adf296;
  --shadow-ppink: 7px 7px #f396e5;
  --shadow-pblueHover: 10px 10px #96c7f2;
  --shadow-pyellowHover: 10px 10px #f2cf96;
  --shadow-pgreenHover: 10px 10px #adf296;
  --shadow-ppinkHover: 10px 10px #f396e5;
  --shadow-pyellow: 7px 7px #f2cf96;

  --color-pblue: #96c7f2;
  --color-pgreen: #adf296;
  --color-ppink: #f396e5;
  --color-pyellow: #f2cf96;
  --color-ppurlple: #9d859a;
  --color-pblack: #4e6273;

  --color-white: #f2f2f2;

  --font-mono: Alexandria, monospace;
  --font-sans: Alexandria, sans-serif;
  --font-kablamo: Kablammo, serif;

  --container-1\/12: 8.333333%;
  --container-2\/12: 16.666667%;
  --container-3\/12: 25%;
  --container-4\/12: 33.333333%;
  --container-5\/12: 41.666667%;
  --container-6\/12: 50%;
  --container-7\/12: 58.333333%;
  --container-8\/12: 66.666667%;
  --container-9\/12: 75%;
  --container-10\/12: 91.666667%;
  --container-12\/12: 100%;

  --margin-30: 7.3rem;

  --border-width-1: 1px;
  --border-width-3: 3px;

}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Black.woff2') format('woff2'), url('/fonts/Alexandria-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Bold.woff2') format('woff2'), url('/fonts/Alexandria-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-ExtraBold.woff2') format('woff2'), url('/fonts/Alexandria-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-ExtraLight.woff2') format('woff2'), url('/fonts/Alexandria-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Light.woff2') format('woff2'), url('/fonts/Alexandria-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Medium.woff2') format('woff2'), url('/fonts/Alexandria-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Regular.woff2') format('woff2'), url('/fonts/Alexandria-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-SemiBold.woff2') format('woff2'), url('/fonts/Alexandria-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('/fonts/Alexandria-Thin.woff2') format('woff2'), url('/fonts/Alexandria-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Kablammo';
    src: url('/fonts/Kablammo-Regular.woff2') format('woff2'), url('/fonts/Kablammo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Alexandria', sans-serif;
    background-color: #f2f2f2;
}