---
import type { HTMLAttributes } from 'astro/types';

const { href = "", text = "", class: className, ...props } = Astro.props;

export interface ButtonProps extends HTMLAttributes<'a'> {
    text: string;
    href: string;
}

---

<a
    rel="noopener noreferrer"
    href={href}
    class:list={[className, `px-5 py-3 border-1 border-black rounded-lg shadow-card hover:shadow-hover transition`]}
    {...props}
>
    {text}
</a>